<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Job Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/jobs">jobs</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#!/register">Register</a>
          </li> 
        </ul>
        <form ng-controller="SearchController as vm"    ng-submit=" vm.search()" class="d-flex">    
          <input class="form-control me-sm-2" type="text" ng-model="vm.searchText" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> <br> <br>
        </form>
      </div>
    </div>
  </nav>

  
  <span ng-repeat="job in vm.jobs ">{{job.title}}</span>